<div class="investigator"
	ng-class="{'background-grey': inv.name == current.name}">

	<div class="row head">
		<div class="col-xs-6">
			<div ng-show="inv.name == first.name" class="col-xs-5 pull-left">
				<img height="50px" ng-src="images/arkham/FirstInvestigator.png" />
			</div>
			<div class="col-xs-5">
				<img height="100px" width="100px"
					ng-src="images/arkham/investigators/{{ inv.image }}" />
			</div>

		</div>
		<div class="col-xs-6">
			<h3 class="row">{{ inv.name}}</h3>
			<h4 class="row">{{ inv.profession}}</h4>
			<div class="row">
				<plus-minus value="inv.curSanity" size="big" show="1"
					max="inv.maxSanity"></plus-minus>
				Sanity of
				<plus-minus value="inv.maxSanity" size="normal" show="1""></plus-minus>
			</div>
			<div class="row">
				<plus-minus value="inv.curStamina" size="big" show="1"
					max="inv.maxStamina"></plus-minus>
				Stamina of
				<plus-minus value="inv.maxStamina" size="normal" show="1"></plus-minus>
			</div>
			<div class="row">
				<plus-minus value="inv.money" size="big" show="1"></plus-minus>
				<big>$$$</big>
			</div>
			<div class="row">
				<plus-minus value="inv.clues" size="big" show="1"></plus-minus>
				Clue Tokens
			</div>
		</div>
	</div>
	<div class="row middle">
		<div class="col-xs-6">
			<div class="row">Home: {{ inv.home}}</div>
			<div class="row text-center">
				<big><strong ng-class="{ 'text-danger' : !inv.availableFocus}">Focus:
						{{ inv.availableFocus}} / {{ inv.focus }}</strong></big> <a
					ng-click="inv.availableFocus=inv.focus">[[reset]]</a>
			</div>
		</div>
		<div class="col-xs-6">
			<h4>{{ inv.specialAbilityTitle}}</h4>
			<p>{{ inv.specialAbilityDescription}}</p>
		</div>
	</div>
	<div class="row skills">
		<skill-tuple first="Speed" second="Sneak" inv="inv"
			available-focus="inv.availableFocus"></skill-tuple>
		<skill-tuple first="Fight" second="Will" inv="inv"
			available-focus="inv.availableFocus"></skill-tuple>
		<skill-tuple first="Lore" second="Luck" inv="inv"
			available-focus="inv.availableFocus"></skill-tuple>
	</div>
	<mini-card cards="inv.cards.commonItems" inv="inv" type="common"></mini-card>
	<mini-card cards="inv.cards.uniqueItems" inv="inv" type="unique"></mini-card>
	<mini-card cards="inv.cards.spells" inv="inv" type="spell"></mini-card>
	<div class="row cards allies"><h4>Allies</h4>
		<button class="btn-default btn" ng-click="inv.cards.allies.draw()">Draw Ally</button>
		<select-ally inv="inv"></select-ally>
		<ul>
			<li ng-class="{'card-exhausted': card.exhaust}"
				ng-repeat="card in inv.cards.allies.list">{{ card.name}}. <span>{{card.text}}</span>
				<span>{{card.info}}</span> {{card}} <a href=""
				ng-click="inv.cards.allies.discard(card.name)">Discard</a> <a
				href="" ng-hide="card.exhaust"
				ng-click="inv.cards.allies.exhaust(card)">Exhaust</a> <a href=""
				ng-show="card.exhaust" ng-click="inv.cards.allies.restore(card)">Restore</a>
			</li>
		</ul>
	</div>
	<div class="row cards">
		<h4>Skills</h4>
		<button class="btn btn-default" ng-click="inv.cards.skills.draw()">Draw Skill</button>
		<ul>
			<li ng-repeat="card in inv.cards.skills.list">{{card.name}}.<span>
					{{card.text}}</span> <a href=""
				ng-click="inv.cards.skills.discard(card.name)">Discard</a>
			</li>
		</ul>
	</div>
	<monsters-trophies inv="inv"></monsters-trophies>
	<gates-trophies inv="inv"></gates-trophies>
	<hr>
</div>
