<div class="phaseCtrl" layout="row" layout-align="space-around center" layout-padding>

  <div flex="25">
    <h4>Phase: </h4><strong>{{phase.phases[phase.currentPhase]}}</strong>
  </div>
	
  <div flex="25" class="md-whiteframe-z1">
    <h4>Current Player: </h4><strong>{{phase.currentInvestigator.name}}</strong>
  </div>
  
  <div flex="25">
    <h4>First Player: </h4><strong>{{phase.firstInvestigator.name}}</strong>
  </div>
  
  <div flex="25">
    <md-button class="md-primary md-raised" ng-click="phase.nextInvestigatorOrPhase();">Next Turn</md-button>
  </div>
	
</div>