<div class="encounters-page"> Encounters Page
<div class="neighbor wrapper" ng-repeat="neighbor in neighborhoods">
	<div class="neighbor title">{{ neighbor }}</div>
	<div class="location wrapper" ng-repeat="location in locationsNeighborhood[neighbor].list">
		<div class="location name">{{ location.name }}</div>
		<div class="location special-encounter" ng-show="location.special_encounter">{{location.special_encounter}}</div>
		<div class="location encounters">
			<button type="button" class="btn btn-info" ng-click="drawEncounter(location)">Draw Encounter</button>
			<div ng-repeat="card in clicked[location.name]">
				<button type="button" class="btn btn-warning" ng-click="resetClicked(location.name, $index)">Reset</button>
				<div>{{ card.text }}</div>
			</div>
			
		</div>
	</div>
</div>
</div>