<div>

	<div ng-controller="PhaseCtrl">
		<h3>
			Phase: <big><strong>{{
					phase.phases[phase.currentPhase] }}</strong></big>
			<button class="btn btn-small" ng-click="hidePhase=!hidePhase">Show/Hide</button>
		</h3>
		<button ng-click="phase.nextPhase()" class="btn btn-big btn-success">Next
			Phase ({{ phase.currentPhase }}-{{ phase.counter}})</button>
	</div>

	<div>
		<h3>
			Investigators
			<button class="btn btn-small"
				ng-click="hideInvestigatorList=!hideInvestigatorList">Show/Hide</button>
		</h3>
		<div ng-hide="hideInvestigatorList">
			<investigator ng-show="!!inv.inUse" ng-repeat="inv in investigators"
				inv="inv"></investigator>
		</div>
	</div>
</div>
