<div layout="row">
<div flex="15" hide-sm>
</div>
<div flex-gt-sm="70" flex-sm="100" class="md-whiteframe-z2" layout-padding layout-margin>
<section>
	<md-subheader>What is this?</md-subheader>
	<md-list layout="column">
	 <md-item><md-item-content><p>A helper to play a board game called 'arkham horror'</p></md-item-content></md-item>
	<md-list>
</section>
<section>
	<md-subheader class="md-primary">Usage</md-subheader>
	<md-list layout="column" layout-align="space-around center" layout-padding layout-margin>
	<md-item>Use arrows in top toolbar to navigate
		<md-divider></md-divider>
	</md-item>
	<md-item>Go to 'settings' and choose your investigators
		<md-divider></md-divider>
	</md-item>
	<md-item>etc
		<md-divider></md-divider>
	</md-item>
	<md-list>
</section>
</div>
</div>