<div>
  <h3>
    Settings
  </h3>
  <div>
    <h4>Select active investigators</h4>
    <ul class="well ">
      <li ng-click="toggle(inv)"
      ng-class="{'btn-success': inv.inUse, 'btn-default': !inv.inUse}"
      class="btn" ng-repeat="inv in investigatorsData"><img
      height="50px" ng-src="images/arkham/investigators/{{ inv.image }}" />
      {{ inv.name }}</li>
    </ul>
  </div>

  <div>
    <h4>Initial ordering</h4>
    <ol class="well" ui-sortable ng-model="activeList">
      <li ng-repeat="inv in activeList" bg-info>
      <img height="100px" ng-src="images/arkham/investigators/{{ inv.image }}" />
      {{ inv.name}}
      </li>
    </ol>
  </div>
  
  <div>
  	<h4>Setup</h4>
  	<button ng-click="setupAll()" class="btn-success">Setup All!</button>
  	<ol class="well">
      <li ng-click="setupInv(inv)" class="btn btn-sm" ng-repeat="inv in activeList">
      	<img  height="100px" ng-src="images/arkham/investigators/{{ inv.image }}" />
      	{{ inv.name}}
      </li>
    </ol>
  	
  </div>
</div>

