<md-tabs>
  <md-tab>
    <md-tab-label>Investigators</md-tab-label>
    <div layout="row">
    <div flex="15" hide-sm></div>
    <div flex-gt-sm="70" class="md-whiteframe-z1"  layout-margin layout-fill layout-align="space-around center">
    <md-content style="height: 400px;" flex>
    <section> 
      <md-subheader class="md-primary">
        <div layout="row" layout-fill> 
        <span >Selected
        Investigators: {{ activeList.length }}</span>
        <span flex> </span>
        </div>
      </md-subheader>
      <md-list>
      <md-item ng-repeat="inv in investigatorsData">
        <md-item-content>
          <md-switch aria-label="{{inv.name}}" ng-model="inv.inUse" ng-change="toggle(inv);">
          
            <img height="50px" ng-src="images/arkham/investigators/{{ inv.image }}" />
            <span>  {{ inv.name }}</span> 
          
          </md-switch>
        </md-item-content>
      </md-item>
      </md-list>
    </section>
    </md-content>
    </div>
    </div>
  </md-tab>
  <md-tab>
    <md-tab-label>Playing Order</md-tab-label>
    Playing Order
  </md-tab>
  <md-tab>
    <md-tab-label>Ancient One</md-tab-label>
    Ancient One
  </md-tab>
  <md-tab>
    <md-tab-label>Start</md-tab-label>
    <md-button class="md-raised" ng-click="setupAll();">Setup All Investigators!</md-button>
  </md-tab>
</md-tabs>